.app-container {
  display: grid;
  grid-template-columns: repeat(4, 70px);
}

button {
  height: 50px;
  border: 1px solid lightgrey;
}
.operator {
  background-color: gray;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 40px;
  text-align: right;
  font-size: 30px;
  padding-right: 10px;
  border: 1px solid black;
}
